{
  "local": {
    "base_url": "http://localhost",
    "user_id": "1",
    "resource_id": "123"
  },
  "minikube": {
    "base_url": "http://localhost",
    "user_id": "1",
    "resource_id": "123"
  }
}